.Bilder {
    width: 300px;
    border: 7px solid black;
    box-shadow: 5px 5px 5px 5px grey;
    background-color: white;
    margin: 10px;
    display: inline;

}


.Bilder:hover {
    border: 4px solid salmon;
    box-shadow: 7px 7px 7px 7px salmon;
}
#styleKopfRehkopf {
    width: 160px;
    margin-left: 230px;
    margin-bottom: -50px;

}

#styleKoerperRehkoerper {
    width: 305px;
    height: 120px;
    margin-left: 20px;
    margin-top: -10px;
}

#styleBeineRehbeine {
    width: 350px;
    margin-top: -12px;
    margin-left: 0px;
}


#styleKopfZebrakopf {
    width: 210px;
    margin-left: 235px;
    margin-bottom: -35px;

}

#styleKoerperZebrakoerper {
    width: 310px;
    margin-left: 17px;
    margin-top: -15px;
}

#styleBeineZebrabeine {
    width: 320px;
    margin-top: -8px;
    margin-left: 10px;
}


#styleKopfHundekopf {
    width: 160px;
    margin-left: 265px;
    margin-bottom: -30px;

}

#styleKoerperHundekoerper {
    width: 300px;
    height: 240px;
    margin-left: 30px;
    margin-top: -80px;
}

#styleBeineHundebeine {
   width: 360px;
    margin-top: -12px;
    margin-left: 20px;
}

#styleKopfPferdekopf {
    width: 207px;
    margin-left: 230px;
    margin-bottom: -45px;

}

#styleKoerperPferdekoerper {
    width: 307px;
    margin-left: 20px;
    margin-top: -15px;
}

#styleBeinePferdebeine {
    width: 312px;
    margin-top: -12px;
    margin-left: 20px;
}


h1 {
    color:black;
    font-weight: 400px;
    font-size: 100px;
    text-align: center;
    letter-spacing: -10px;
    margin: 10px;
    transition: color 4s ease-in-out;
}


body {
    font-family: sans-serif;
    background-color: white;
}

.container1{
    margin: 0px auto;


}

button {
    width: 150px;
    height: 40px;
    color: white;
    background-color: rgb(66, 65, 65);
    margin-bottom: 30px;
    margin-left: 375px;
    margin-right: 375px;
}

button:hover {
    background-color: salmon;
}


#position{
    float: right;
    margin-top: -1300px;
    margin-left: 600px;
    
}

#position2{
    float: right;
    margin-top: -700px;
    margin-left: 700px;
    
}

#position3{
    float: right;
    margin-top: -500px;
    margin-left: 700px;
    
}

#ende {
    width: 900px;
    margin: 0px auto;
    
}

#kopfseite{
    width: 900px;
    margin: 0px auto;
}

#koerperseite{
    width: 900px;
    margin: 0px auto;
}

#beineseite{
    width: 800px;
    margin: 0px auto;
}

h2{
    color:black;
    font-weight: 200px;
    font-size: 50px;
    text-align: center;
    letter-spacing: -4px;
}

#Ergebnis {
    margin-left: 230px;
}

header {
    background-color: salmon;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
}

#ausgabeNachricht {
    font-weight: 40px;
    text-align: center;
    letter-spacing: -1px;
}

#Fehler {
    color: red;
}